/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/02/2016, 18:02:12
    Author     : Andres
*/

body{
    background-color: #ECF3FD;
}

.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}