<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/greniasdb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Model/PevntVentas.hbm.xml"/>
    <mapping resource="Model/PeempEmplea.hbm.xml"/>
    <mapping resource="Model/Pedet.hbm.xml"/>
    <mapping resource="Model/SeoppOpcper.hbm.xml"/>
    <mapping resource="Model/SeusuUsuari.hbm.xml"/>
    <mapping resource="Model/SevenVentan.hbm.xml"/>
    <mapping resource="Model/SeperPerfil.hbm.xml"/>
    <mapping resource="Model/PeartArticulo.hbm.xml"/>
    <mapping resource="Model/SeuxpUsxper.hbm.xml"/>
    <mapping resource="Model/SesisSistem.hbm.xml"/>
    <mapping resource="Model/SeopcOpcion.hbm.xml"/>
    <mapping resource="Model/PecliCliente.hbm.xml"/>
    <mapping resource="Model/SepriPrivil.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
